/*
Theme Name: Nowhere is Home - Almudena Toral
Theme URI: http://nowhereishome.com/
Description: Highdef Child theme for Almudena Toral's Interactive Capstone project
Template: graphpaperpress/modularity
Version: 0.1.1
*/
	
@import url("../graphpaperpress/modularity/style.css");

body {background:#fff; border-top:30px solid #222}
.container-inner {padding:1.5em 0}
#top {width:950px;margin:0 auto;padding:0;height:auto; background: url(images/double-border.png) repeat-x bottom; clear:both;float:none;border:none;}
#masthead {margin-left:0px;}
#masthead #logo h1 {line-height:0; margin-top:16px;}
#masthead #logo h1 img.sitetitle {margin-top:-18px;}
#masthead #logo h1 a { color: #222; text-decoration: none; }
#masthead #logo .description { margin: 1.45em 2em 1.8em; }
#masthead span.description {color:#999; position:relative;top:12px;}

/* Navigation override */
#top .sf-menu {background:#fff; margin-right:0px; top: 30%;}
#top .sf-menu a, .sf-menu a:visited  {color:#666;}
#top .sf-menu a:hover {color: #333;}
#top .sf-menu li {background:#fff;}
#top .sf-menu li li {background:#fff;}
#top .sf-menu li li li {background:#fff;}
#top .sf-menu li:hover, .sf-menu li.sfHover,
#top .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {background:#eee;}
#top .sf-sub-indicator {background:url('images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

/* Slider Post */
#slider-posts {-webkit-box-shadow: 0 0 20px #999;-moz-box-shadow: 0 0 20px #999;}
#slider-posts .slide{ background:#eee;}
#slider-posts .slide .slide-details h2 { color:#111;}
#slider-posts .slide .slide-details p { color:#222;}
#slider-posts .slide .slide-wrapper a, #slider-posts .slide .slide-details h2 a {color:#111}
#slider-posts .slide .slide-wrapper a:hover, #slider-posts .slide .slide-details h2 a:hover {color:#000}
#slider-posts .slide h2 a.button {color:#fff;text-decoration: none;}
#slider-posts .slide h2 a.button:hover {color:#eee;}
    
/* Category Sections */
#category-stack{margin:0 0 2em}
.byline {font-size:.9em;margin:0;color:#bbb}
.byline a {color:#bbb}
.more {margin:0 0 1em;}
.more ul{list-style:none;margin:0;padding:0;}
.more ul li a{color:#222;height:1%;background:url(images/li.png) no-repeat 0 50%;line-height:1.2em;border-bottom:1px solid #ccc;display:block;padding:6px 0 6px 8px;}
.more ul li a:hover{color:#515151;background: #f7f7f7 url(images/li.png) no-repeat 2px 50%; text-indent: 1px;}
.more ul li a span{color:#696455;}
.more ul li.active a{cursor:default;color:white;}

/* Sidebar Styles */
#sidebar ul li a, ul.txt li { background:url(images/li.png) no-repeat 0 50%; }
#sidebar ul li a:hover, ul.txt li:hover { background: #f7f7f7 url(images/li.png) no-repeat 2px 50%; text-indent: 1px; }

/* Welcome Box */
.welcomebox { background: #f7f7f7; }
.welcomebox h2 { color: #232323; }
.welcomebox h2 a { color: #232323; text-decoration: underline; }
.welcomebox h2 a:hover { color: black ;}

/*PhotoShelter*/
#psContainer { width: 990px; text-align: center; margin: 0px auto 10px auto; }
#psContent { text-align: left; margin: 0 auto; width: 950px; padding: 20px; }
#psContent H3 { color: #999; }
#psContent table { width: auto; }
#PS_GPP_CUSTOM #masthead #logo h1 { font-size: 36px; margin-top: 25px; }
#PS_GPP_CUSTOM #masthead #logo img.sitetitle {margin-top: -26px}

body.home-page #slideshow {
display:none;
}

body {
border-top-color:#FFF;
}

body.home-page #top {
margin-top:90px;
}

#top {
background-image:none;
border-bottom:10px solid #CCCCCC;
}

.container-inner {
padding:1em 0;
}
.container, .container div{
background:#ffffff !important;
}

#masthead #logo h1 {
margin-top:20px;
}

#top h1.sitename {
font-family:Helvetica;
}

#top .sf-menu,#top .sf-menu li,#top .sf-menu li:hover,#top .sf-menu a:hover {
background-color:transparent!important;
}

#slider-handle {
display:none;
}

#slider-section {
border-bottom:10px solid #CCCCCC;
}

.container .container-inner .span-15 {
margin-left:175px;
margin-right:0;
padding-right:0;
border-right:none;
}

#footer-wrap {
display:none;
}

.share-yours .content{
  width:300px;
  float:right;
}
.share-yours .share-yours-content{
  width:625px;
  float:left;
  margin-right:25px;
}
.iframe_adjust{
  position:relative;
  left:-175px;
}
span.read_more{
  position:relative;
  top:-15px;
}
